
.post{
    background-color: #2d3436;
    background-image: linear-gradient(305deg, #2d3436 0%, #000000 30%);
    border-radius: 50px;
}
.mainmedia{
    display: flex;
    justify-content: center;
    
}
.playpause{
    border: none;
    border-radius: 50px;
    background-color: #2d3436;
    background-image: linear-gradient(305deg, #2d3436 0%, #000000 30%);
    color:cyan;
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
}
.container-audio {
    
     width: 100%;
    margin: 0px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    
}
.userD{
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.postdata{
    margin-bottom: auto;
    margin-top: auto;
    color:turquoise;
    text-align:left;
}
.imageA{
    margin-bottom: auto;
    margin-top: auto;
   
    width: 50px;
    height:50px;
    border-radius: 50%;
}


.check{
    flex-grow: 0.5;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}
.check:hover{
    transform: scale(1.1);
}
.actionMenu{
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.like-btn {
  
    border:none;
  }
  .like-btn:hover{
    color: red;
    -webkit-text-stroke: 1px red;
    animation: 1s linear burst; 
  }
  @keyframes burst{
    0%,10%{
        transform: scale(1);
        opacity: .5;
        color:lavender;
    }
    45%{
        transform: scale(.2) rotate(30deg);
        opacity: .75;
    }
    50%{
        transform: scale(2) rotate(-37.5deg);
        opacity: 1;
        color: red;
        text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
    }
    90%,95%{
        transform: scale(1) rotate(10deg);
        text-shadow: none;
    }
    100% {
        transform: rotate(-2.5deg);
    }

  }
  .report{
    height: fit-content;
     border-radius:50%;
     border: none;
     border-left-color: red;
     border-left-width:2px ;
     background-color: transparent;
     color: tomato;
 
 }
 .report:hover{
     background-color: #3f0d12;
 background-image :linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
 
     transform: scale(1.5);
     color:black
 
 }
 .commentclick{
     border: none;
     height: fit-content;
     background-color: transparent;
     color: tomato;
 }
.animate .colum1 {
    width: 3px;
    height: 20px;
    border-radius: 5px;
    margin: 0 5px 0 0;
    display: inline-block;
    position: relative;
}
.animate .colum1:last-child {
    margin: 0;
}
.animate .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to up, #7700aa, #8800ff);
    position: absolute;
    
    bottom: 0;
}

    .animate .colum1 .row {
        -webkit-animation: wave 10s infinite ease-in-out;
    animation: wave 10s infinite ease-in-out;
        animation-play-state: initial;
    }

.container-audio .colum1:nth-of-type(1) .row {
    -webkit-animation-delay: 3.99s;
    animation-delay: 3.99s;
}
.container-audio .colum1:nth-of-type(2) .row {
    -webkit-animation-delay: 3.80s;
    animation-delay: 3.80s;
}
.container-audio .colum1:nth-of-type(3) .row {
    -webkit-animation-delay: 3.70s;
    animation-delay: 3.70s;
}
.container-audio .colum1:nth-of-type(4) .row {
    -webkit-animation-delay: 3.60s;
    animation-delay: 3.60s;
}
.container-audio .colum1:nth-of-type(5) .row {
    -webkit-animation-delay: 3.50s;
    animation-delay: 3.50s;
}
.container-audio .colum1:nth-of-type(6) .row {
    -webkit-animation-delay: 3.40s;
    animation-delay: 3.40s;
}
.container-audio .colum1:nth-of-type(7) .row {
    -webkit-animation-delay: 3.30s;
    animation-delay: 3.30s;
}
.container-audio .colum1:nth-of-type(8) .row {
    -webkit-animation-delay: 3.20s;
    animation-delay: 3.20s;
}
.container-audio .colum1:nth-of-type(9) .row {
    -webkit-animation-delay: 3.10s;
    animation-delay: 3.10s;
}
.container-audio .colum1:nth-of-type(10) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(11) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(12) .row {
    -webkit-animation-delay: 2.10s;
    animation-delay: 2.10s;
}
.container-audio .colum1:nth-of-type(13) .row {
    -webkit-animation-delay: 2.20s;
    animation-delay: 2.20s;
}
.container-audio .colum1:nth-of-type(14) .row {
    -webkit-animation-delay: 1.30s;
    animation-delay: 1.30s;
}
.container-audio .colum1:nth-of-type(15) .row {
    -webkit-animation-delay: 1.40s;
    animation-delay: 1.40s;
}

@keyframes wave{
    0% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: yellow;
    }

    5% {
        height: 100%;
        -webkit-transform: translatey(15px);
        transform: translatey(15px);
        background-color: fuchsia;
    }
    10% {
        height: 90%;
        transform: translatey(0);
        -webkit-transform: translatey(0);
        background-color: bisque;
    }

    15% {
        height: 80%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    20% {
        height: 70%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    25% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    30% {
        height: 70%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    35% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    40% {
        height: 60%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    45% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    50% {
        height: 50%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    55% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    60% {
        height: 40%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    65% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    70% {
        height: 30%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    75% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    80% {
        height: 20%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    85% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    90% {
        height: 10%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    95% {
        height: 5%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    100% {
        height: 0;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
}
